<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SyntaxColoring:Color:Comments</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>SyntaxColoring:Color:Comments2</key>
	<array>
		<real>0.80000000000000004</real>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>SyntaxColoring:Color:Identifiers</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>SyntaxColoring:Color:Identifiers2</key>
	<array>
		<real>0.0</real>
		<real>0.25097999999999998</real>
		<real>0.50196099999999999</real>
	</array>
	<key>SyntaxColoring:Color:Preprocessor</key>
	<array>
		<integer>0</integer>
		<real>0.40000000000000002</real>
		<integer>0</integer>
	</array>
	<key>SyntaxColoring:Color:Strings</key>
	<array>
		<real>0.40000000596046448</real>
		<real>0.40000000596046448</real>
		<real>0.40000000596046448</real>
	</array>
	<key>SyntaxColoring:Color:Tags</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<real>0.59999999999999998</real>
	</array>
	<key>SyntaxColoring:Color:UserIdentifiers</key>
	<array>
		<real>0.0</real>
		<real>0.25097999999999998</real>
		<real>0.50196099999999999</real>
	</array>
</dict>
</plist>
