<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>"</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>"</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&gt;</string>
			<key>IgnoredComponent</key>
			<string>Strings</string>
			<key>Name</key>
			<string>Tags</string>
			<key>Start</key>
			<string>&lt;</string>
			<key>Type</key>
			<string>Tag</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.29999999999999999</real>
				<real>0.29999999999999999</real>
				<real>0.29999999999999999</real>
			</array>
			<key>End</key>
			<string>"</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>"</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.20000000000000001</real>
				<real>0.5</real>
				<real>0.20000000000000001</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>&amp;lt;</string>
				<string>&amp;gt;</string>
				<string>&amp;amp;</string>
				<string>&amp;auml;</string>
				<string>&amp;uuml;</string>
				<string>&amp;ouml;</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>--&gt;</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>&lt;!--</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>htm</string>
		<string>html</string>
		<string>phtm</string>
		<string>phtml</string>
	</array>
</dict>
</plist>
