<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
        <dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>"</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>QuoteStringsValue</string>
			<key>Start</key>
			<string>"</string>
			<key>Type</key>
			<string>String</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>:true</string>
				<string>: true</string>
			</array>
			<key>Name</key>
			<string>IdentifiersTrue</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>:null</string>
				<string>: null</string>
				<string>:false</string>
				<string>: false</string>
			</array>
			<key>Name</key>
			<string>IdentifiersFalse</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>{</string>
                <string>}</string>
                <string>[</string>
                <string>]</string>
                <string>"</string>
                <string>,</string>
                <string>:</string>
			</array>
			<key>Name</key>
			<string>IdentifiersMark</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<real>0.2627450980392157</real>
				<real>0.66666666666666663</real>
                <integer>1</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>"_id"</string>
			</array>
			<key>Name</key>
			<string>IdentifiersID</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<real>0.2627450980392157</real>
				<real>0.66666666666666663</real>
                <integer>1</integer>
			</array>
			<key>End</key>
			<string>"</string>
			<key>Name</key>
			<string>Operator</string>
			<key>Start</key>
			<string>"$</string>
			<key>Type</key>
			<string>String</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<real>0.56470588235294117</real>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>)</string>
			<key>Name</key>
			<string>JSONObj</string>
			<key>Start</key>
			<string>Date(</string>
			<key>Type</key>
			<string>String</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<real>0.56470588235294117</real>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>)</string>
			<key>Name</key>
			<string>JSONObj</string>
			<key>Start</key>
			<string>ObjectId(</string>
			<key>Type</key>
			<string>String</string>
		</dict>
        <dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<real>0.56470588235294117</real>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>)</string>
			<key>Name</key>
			<string>JSONObj</string>
			<key>Start</key>
			<string>Def(</string>
			<key>Type</key>
			<string>String</string>
		</dict>
	</array>
</dict>
</plist>
