<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OneLineCommentPrefix</key>
	<string>// </string>
	<key>Components</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Color</key>
			<array>
				<real>0.2</real>
				<real>0.5</real>
				<real>0.2</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>super</string>
				<string>id</string>
				<string>void</string>
				<string>self</string>
				<string>return</string>
				<string>@selector</string>
				<string>@encode</string>
				<string>@interface</string>
				<string>@implementation</string>
				<string>@protocol</string>
				<string>@end</string>
				<string>@property</string>
				<string>@synthesize</string>
				<string>@synchronized</string>
				<string>@class</string>
				<string>@try</string>
				<string>@catch</string>
				<string>@finally</string>
				<string>@private</string>
				<string>@protected</string>
				<string>@required</string>
				<string>@optional</string>
				<string>enum</string>
				<string>in</string>
				<string>typedef</string>
				<string>unsigned</string>
				<string>signed</string>
				<string>char</string>
				<string>unichar</string>
				<string>long</string>
				<string>int</string>
				<string>short</string>
				<string>float</string>
				<string>double</string>
				<string>nil</string>
				<string>else</string>
				<string>if</string>
				<string>do</string>
				<string>while</string>
				<string>for</string>
				<string>break</string>
				<string>case</string>
				<string>default</string>
				<string>continue</string>
				<string>goto</string>
				<string>switch</string>
				<string>const</string>
				<string>static</string>
				<string>volatile</string>
				<string>extern</string>
				<string>IBAction</string>
				<string>IBOutlet</string>
				<string>BOOL</string>
				<string>YES</string>
				<string>NO</string>
				<string>NS_DURING</string>
				<string>NS_HANDLER</string>
				<string>NS_ENDHANDLER</string>
				<string>NS_VOIDRETURN</string>
				<string>NS_VALUERETURN</string>
				<string>Class</string>
				<string>SEL</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz@_1234567890</string>
			<key>Name</key>
			<string>UserIdentifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#define</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#include</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#import</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#if</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#else</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#elif</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#endif</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#undef</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Preprocessor</string>
			<key>Start</key>
			<string>#pragma</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>//</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>*/</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>/*</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>m</string>
		<string>mm</string>
		<string>h</string>
	</array>
</dict>
</plist>
